<form action="">
    Nombre:
    <input type="text">
    <br>
    Email:
    <input type="text">
    <br>
    Provincia de Origen:
    <select name="provincia" id="provincias">
    </select>
    <br>
    Ciudad:
    <select name="" id="">
        
    </select>

</form>

<script>
fetch("https://apis.datos.gob.ar/georef/api/provincias")
.then(function(respuesta){
    return respuesta.json();
})
.then(function(datosJSON){
    var select = document.querySelector("select#provincias");
    console.log(select.innerHTML);
    for(var i = 0; i < datosJSON.provincias.length; i++){
        //console.log(datosJSON.provincias[i].nombre);
        select.innerHTML = 
        select.innerHTML + "<option value='"+datosJSON.provincias[i].nombre+"'>"+datosJSON.provincias[i].nombre+"</option>";
    }
    console.log(select.innerHTML);
})
.catch(function(error){
    console.log(error);
});

</script>


https://apis.datos.gob.ar/georef/api/provincias?nombre=Sgo.%20del%20Estero